<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GES_App_English"
        tools:targetApi="31" >
        <activity
            android:name=".SPLASH"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PronunciationmadeeasyActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".PronunciationmadeeasyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SPEECH"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WORD"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".WORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LIST"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TUTORIAL"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name=".TUTORIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>